.newsletter__ipt {
  padding: .8rem 1.5rem;
  border: .1rem solid var(--cor-principal);
  width: 100%;
  font-size: 1.6rem;
}

@media screen and (min-width: 768px) {
  .newsletter__ipt {
    width: 70%;
    border: .1rem solid var(--cor-principal);
    border-right: 0;
  }
}