.modal__linha {
  position: absolute;
  display: block;
  width: 2rem;
  height: .3rem;
  border-radius: 1rem;
  background: var(--cor-logo);
  background: #6C757D;
}

.modal__linha[data-modal-linha]:nth-child(1) {
  transform:
    rotate(45deg);
}

.modal__linha[data-modal-linha]:nth-child(2) {
  transform:
    rotate(-45deg);
}