.modal__ipt {
  outline: none;
  appearance: unset;
  width: 1.3rem;
  height: 1.3rem;
  border: .1rem solid #DEE2E6;
  border-radius: 50%;
  position: relative;
  margin: 0;
}

.modal__ipt:checked::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1.2rem;
  height: 1.2rem;
  border: .3rem solid var(--cor-principal-alt);
  background: transparent;
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: 0rem 0rem 0rem .15rem  #DEE2E6;
}

.modal__ipt--offwhite {
  background: #F3F6F7;;
}

.modal__ipt--black {
  background: #000;;
}

.modal__ipt--azul-claro {
  background: #75D7F0;
}