.modal__corpo {
  background-color: var(--cor-fundo-1);
  padding: 1.6rem 1.6rem 3.2rem 1.6rem;
  border-radius: .4rem;
  box-shadow: 0 .4rem 1.5rem 0 rgba(44, 63, 88, 0.349);
  color: #212529;
}

@media screen and (min-width: 768px) {
  .modal__corpo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}