.modal__etq {
  display: inline-flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-left: 1.6rem;
  align-items: center;
  font-size: 1.3rem;
  line-height: 2rem;
}

.modal__etq:first-of-type {
  margin-left: 0;
}