.modal__conteudos {
  padding: 2.4rem 1.6rem 0 1.6rem;
  border: .1rem solid rgba(0, 0, 0, 0.13);
  border-top: 0;
}

@media screen and (min-width: 768px) {
  .modal__conteudos {
    padding-top: 0;
    border: 0;
  }
}