.modal {
  margin: 0 2.6rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  transform: translate(-50%, -50%) scale(0);
  transition: transform .4s;
}

.modal[data-estado="ativo"] {
  transform: translate(-50%, -50%) scale(1);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 100%;
    max-width: 70rem;
    top: 50%;
    left: 50%;
    margin: 0;
  }
}