.modal__btn {
  width: fit-content;
  padding: .9rem 1.6rem;
  background-color: var(--cor-principal-alt);
  color: var(--cor-fundo-1);
  border: 0;
  font-size: 1.6rem;
  line-height: normal;
  letter-spacing: .0457rem;
  cursor: pointer;
  transition: background .25s;
}

.modal__btn:hover {
  background-color: var(--cor-principal-hover);
}