.categoria {
  cursor: pointer;
  box-shadow: 0 0 0 0 var(--cor-principal-alt);
  transition: all .25s;
}

.categoria:hover {
  box-shadow: 0 0 1.5rem .25rem var(--cor-principal-hover);
  transform: scale(1.1);
}
