.banner__indice {
  fill: var(--cor-fundo-1);
  fill-opacity: .5;
  width: 3rem;
  height: .3rem;
  text-anchor: middle;
}

.banner__indice[data-indicador-estado="ativo"] {
  fill: var(--cor-fundo-1);
  fill-opacity: 1;
}