.produto__busca {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 2rem;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

@media screen and (min-width: 1440px) {
  .produto__busca {
    grid-column-end: 4;
  }
}