.produto__btn {
  background-color: var(--cor-principal-alt);
  color: var(--cor-fundo-1);
  padding: .9rem 1.6rem;
  font-size: 1.6rem;
  line-height: normal;
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: background .25s;
}

.produto__btn:hover {
  background-color: var(--cor-principal-hover);
}