.facilidade__conteiners {
  display: inline-flex;
  flex-direction: column;
  margin-top: 3.2rem;
  gap: 3.2rem;
}

@media screen and (min-width: 1440px) {
  .facilidade__conteiners {
    margin-top: 4rem;
    flex-direction: row;
  }
}