.bloco__titulo {
  color: var(--cor-titulo);
  font-size: 2.8rem;
  text-align: center;
  line-height: normal;
}

.bloco__titulo--alt {
  color: var(--cor-fundo-1);
  font-size: 2.4rem;
}

@media screen and (min-width: 768px) {
  .bloco__titulo--alt {
    font-size: 3.2rem;
  }
}

@media screen and (min-width: 1440px) {
  .bloco__titulo {
    font-size: 3.2rem;
  }
}