.bloco__categorias {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.6rem 3rem;
  margin-top: 2.4rem;
}

@media screen and (min-width: 768px) {
  .bloco__categorias {
    grid-template-columns: repeat(3, 1fr);
    gap: 2.4rem 3rem;
    margin-top: 3.2rem;
  }
}

@media screen and (min-width: 1440px) {
  .bloco__categorias {
    grid-template-columns: repeat(6, 1fr);
    max-width: 77.083%;
    margin-left: auto;
    margin-right: auto;
  }
}