.bloco {
  padding: 2.4rem 2.6rem;
}

.bloco--alt {
  background-color: var(--cor-principal);
  padding: 3.2rem 2.6rem;
}

@media screen and (min-width: 768px) {
  .bloco {
    padding: 4rem 3.9rem;
  }
}

@media screen and (min-width: 1440px) {
  .bloco {
    padding-left: 0;
    padding-right: 0;
  }
}