.bloco__produtos {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3rem;
  margin-top: 3rem;
  margin-bottom: 2.4rem;
}

@media screen and (min-width: 768px) {
  .bloco__produtos {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 1.3rem;
  }
}

@media screen and (min-width: 1440px) {
  .bloco__produtos {
    grid-template-columns: repeat(3, 1fr);
    max-width: 77.083%;
    margin-left: auto;
    margin-right: auto;
  }

}